@font-face {
    font-family: 'chakraReg';
    src: url("../assets/font/ChakraPetch-Regular.ttf");
}
@font-face {
    font-family: 'chakraBold';
    src: url("../assets/font/ChakraPetch-Bold.ttf");
}
.theme-dark{
    --fondo: #110038;
    --fondo-secundario: #B4B4B4;
    --fondo-secundario-claro: #cccccc; 
    --gradiente-primario: #EE3EFE;
    --gradiente-secundario: #2E32FB;
    --color-fuente-oscuro: #110038; 
    --bg-sec-shadow: #110038;
    --darker-shadow: #b4b4b4;
    --light-shadow: #fff;
    --btn-shadow: #b4b4b4;
    --btn-bg-hover: #ce36db;
    --border-second-h: #2E32FB;
    --shadow-second-h: #110038;
    --color-fuente-nav: #fff;
    --fondo-selector-tema: #2e32f2;
    --borde-selector-tema: #33358f;
}
.theme-light{
    --fondo: #fff4fd;
    --fondo-secundario: #e6e6e6;
    --fondo-secundario-claro: #f0f0f0; 
    --gradiente-primario: #f7C9f3;
    --gradiente-secundario: #4180f6;
    --color-fuente-oscuro: #110038; 
    --bg-sec-shadow: #f0e5ee;
    --darker-shadow: #b4b4b4;
    --light-shadow: #fff;
    --btn-shadow: #997d97;
    --btn-bg-hover: #e6bbe2;
    --border-second-h: #e6bbe2;
    --shadow-second-h: #80687d;
    --color-fuente-nav: #110038;
    --fondo-selector-tema: #fff4fd;
    --borde-selector-tema: #cca6c9;
}
  
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    outline: none;
    vertical-align: top;
}
.white{
    filter: invert(100%);
}
.hidden {
    display: none!important;
}
html{
    font-size: 16px;
}
body {
    background: var(--fondo);
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    color: var(--color-fuente-oscuro);
}
body header .topTitle {
    background-image: -webkit-gradient(linear, right top, left top, from(  var(--gradiente-primario)), to(var(--gradiente-secundario)));
    background-image: linear-gradient(270deg,   var(--gradiente-primario) 0%, var(--gradiente-secundario) 100%);
    color: var(--light-shadow);
    letter-spacing: 0;
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0 1px 0 0 var(--color-fuente-oscuro);
            box-shadow: 0 1px 0 0 var(--color-fuente-oscuro);
    padding: 4px 8px;
    font-size: 0.75rem;
    line-height: 1rem;
}
body header h1 {
    text-indent: -100000px;
    height: 0;
}
body header .head {
    margin: 2.5rem  10% 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body header .head #logo {
    margin-left: 16px;
    width: 100px;
}
body main {
    margin: 20px 10%;
}
body main .misGuifos h2{
    background: #fff4fd;
    border: 1px solid var(--border-second-h);
    -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 var(--shadow-second-h);
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 var(--shadow-second-h);
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: var(--color-fuente-oscuro);
    letter-spacing: 0;
    font-weight: normal;
    padding: 8px;
    letter-spacing: 0;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
body main .crearGuifos{
    width: 65%;
    margin: 50px auto ;
    padding: 3px;
    background: var(--fondo-secundario);
    box-shadow: inset -2px -2px 0 0 var(--darker-shadow), inset 2px 2px 0 0 #FFFFFF;
}
body main .crearGuifos .title{
    background-image: linear-gradient(270deg, var(--gradiente-primario) 0%, var(--gradiente-secundario)  100%);
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
body main .crearGuifos .title h2{
    font-family: 'chakraBold', Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: #FFFFFF;
    letter-spacing: 0;
}
body main .crearGuifos .title img{
    width: 16px;
    margin: 0;
}
body main .crearGuifos .contenido{ 
    width: 100%;
}
.gifContainer{
    padding: 4px;
    margin: 1rem 1rem 0 1rem;
    width: calc(100% - 2rem);
    background:  var(--fondo) ;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
body main .crearGuifos .contenido video{ 
    width: 100%;
}
#imgGIF{
    margin: 0;
    width: 100%;
}
body main .crearGuifos .startingPage{ 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: flex-start;
    margin-top: 1rem;
}
body main .crearGuifos .startingPage .startingPageText{
    width: calc(100% - 8rem);
    margin: 0 1rem 0 0;
}
body main .crearGuifos .startingPage img{ 
    width: 2rem;
    margin: 1rem 1.5rem;
}
body main .crearGuifos .startingPage h4{ 
    display: inline-block;
    font-family: 'chakraBold', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--color-fuente-oscuro);
    letter-spacing: 0;
    line-height: 1.375rem;
    margin:1rem 0 0.75rem 0;
}
body main .crearGuifos .startingPage p{ 
    display: inline-block;
    font-family: 'chakraReg';
    font-size: 0.875rem;
    color: var(--color-fuente-oscuro);
    letter-spacing: 0;
    line-height: 1.25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
body main .crearGuifos p .bold{ 
    font-family: 'chakraBold', Arial, Helvetica, sans-serif;
}
body main .crearGuifos p .tilted{ 
    font-style: italic;
}
body main .crearGuifos p .enter{ 
    display: block;
    padding:4px 0;
}
.tachado{
    text-decoration: line-through;
}
.ctnBtn{
    width: 100%;
    text-align: right;
    margin: 1rem 0;
    font-size: 0;
    padding-right: 1rem;
}
.ctnBtn a, .ctnBtn button, .ctnBtn p{
    font-size: 1rem;
    margin-left: 1rem;
}
.btn{
    font-family: 'chakraReg';
    font-size: 1rem;
    padding: 8px 40px;
    background: var(--gradiente-primario);
    border: 1px solid var(--color-fuente-oscuro);
    box-shadow: inset -1px -1px 0 0 var(--btn-shadow), inset 1px 1px 0 0 #FFFFFF;
    color: var(--color-fuente-nav);
}
.btn:hover{
    background: var(--btn-bg-hover);
}
#cancelLink{
    display: inline-block;
    font-size: 1rem;
}
.btnSecundario{
    font-size: 1rem;
    font-family: 'chakraReg';
    padding: 2px;
    background: var(--fondo);
    border: 1px solid var(--color-fuente-oscuro);
    box-shadow: inset -1px -1px 0 0 var(--btn-shadow), inset 1px 1px 0 0 #FFFFFF;
    color: var(--color-fuente-nav);
}
.btnSecundario span{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px 36px;
}
.btnSecundario span:hover{
    border: 1px dotted var(--color-fuente-nav);
    background: var(--bg-sec-shadow);
}


#ctnBtnPrincipal{
    padding-right: 4rem;
    margin-bottom: 3rem;
}
.listo{
    display: inline-block;
}
#imgListo, #btnListo{
    background: #FF6161;
    color: #fff;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}
#imgListo img{
    position: relative;
    top: 2px;
}
.listo:hover #btnListo, .listo:hover  #imgListo, #imgListo:hover, #btnListo:hover{
    background: rgb(214, 83, 83);
}
#imgCapturar {
    padding: 8px;
    text-align: center;
}
#imgCapturar img{
    position: relative;
    top: 3px;
    width: 15px;
    padding: 0;
    margin: 0;
}
#ctnBtnInitialPreview{
    display: inline-block;
}
#ctnBtnInitialPreview:hover #btnCapturar,#ctnBtnInitialPreview:hover #imgCapturar {
    background: var(--btn-bg-hover);

}

#ctnBtnInitialPreview #btnCapturar{
    margin-left: 0;
}
#btnCancelar{
    margin-right: 1rem;
}
#imgListo{
    padding: 8px;
    text-align: center;
}
#imgListo img{
    width: 15px;
    padding: 0;
    margin: 0;
}
#btnListo{
    margin-left: 0;
}
.timer{
    padding: 8px;
    width: 160px;
    text-align: center;
    background: var(--fondo-secundario-claro);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    margin-right: 1rem;
    font-size: 16px;
    color: #110038;
    line-height: 22px;
    float: left;
}
#ctnBtnLastPreview{
    display: flex;
    align-items: center;
}
#ctnBtnLastPreview .controlCtn{
    height: 24px;
    display: flex;
    flex-flow: row wrap;
}
#ctnBtnLastPreview #btnUpload {
    padding: 8px 8px;
}
#ctnBtnLastPreview button span{
    padding: 5px 5px;
}
#previewControls{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: var(--gradiente-primario);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 var(--btn-shadow), inset 1px 1px 0 0 #FFFFFF;
}
#previewControls img{
    display: inline-block;
    width: 10px;
    height: 12px;
    margin: 0;
    position: relative;
    top: 5px;
    right: 6px;
}
.visualTimer{
    margin-left: 6px;
    padding: 2px;
    background: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
    font-size: 0;
}
.timeSlot{
    margin-left: 2px;
    padding: 0;
    display: inline-block;
    background: #999999;
    height: 20px;
    width: 12px;
}
.passedTimeSlot{
    background: var(--gradiente-primario);
}
.lastPreviewBtnCtn{
    margin-left: auto;
}

#contenidoUploading .contenidoPrincipal{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
#contenidoUploading .contenidoPrincipal img{
    margin-top: 8rem;
    margin-bottom: 0.5rem;
}
#contenidoUploading .contenidoPrincipal h4{
    margin-bottom: 2.5rem;
    font-size: 16px;
    font-family: "chakraBold", Arial, Helvetica, sans-serif;
}
#contenidoUploading .contenidoPrincipal .visualTimer{
    margin-bottom: 0.5rem;
}
#contenidoUploading .contenidoPrincipal p{
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgba(17,0,56,0.64);
    letter-spacing: 0;
    margin-bottom: 8rem;
    text-align: center;
    line-height: 14px;
}
#ctnMisGuifos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
    grid-auto-flow: dense;
}
#ctnMisGuifos .ctnTotal {
    background: var(--fondo-secundario);
    -webkit-box-shadow: inset -2px -2px 0 0 var(--bg-sec-shadow), inset 2px 2px 0 0 var(--light-shadow);
            box-shadow: inset -2px -2px 0 0 var(--bg-sec-shadow), inset 2px 2px 0 0 var(--light-shadow);
    width: 100%;
    height: 100%;
    padding: 0;
}
#ctnMisGuifos .largeTotal {
    grid-column-end: span 2;
    grid-row-end: span 1;
}
#ctnMisGuifos .ctnTotal:hover {
    padding: 4px;
}
#ctnMisGuifos .ctnTotal .ctnImg {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
#ctnMisGuifos .ctnTotal .largeImg{
    padding-bottom: calc(50% - (1rem/2));
}
#ctnMisGuifos .ctnTotal:hover .largeImg{
    padding-bottom: calc(50% - (1rem/2) - 4px);
}
#ctnMisGuifos .ctnTotal .ctnImg .img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    border: 1px solid #00000000;
}
#ctnMisGuifos .ctnTotal:hover .ctnImg .img {
    border: 1px dotted var(--color-fuente-oscuro);
}
#ctnBtnFinal{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}
.ctnResult{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
}
.ctnFinalText{
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.ctnFinalText h4{
    font-family: "chakraBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    margin-left: 1rem;
    line-height: 22px;
}
.ctnFinalText .btnSecundario{
    width: 100%;
    margin-top: 1rem;
}
.ctnFinalText .btnSecundario span{
    padding: 5px 0;
}
#btnToStart{
    width: 150px;
    text-align: center;
    padding: 5px 10px;
    margin-left: auto;
}
.newGuifoCtn{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    padding: 2px;
    margin-left: 1rem;
    width: 50%;
}
#newGuifo{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1400px){
    body main .crearGuifos{
        width: 75%;
    }
    #ctnMisGuifos {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
    }
    #ctnMisGuifos .ctnTotal .largeImg{
      padding-bottom: calc(50% - (1rem/2));
    }
    #ctnMisGuifos .ctnTotal:hover .largeImg{
      padding-bottom: calc(50% - (1rem/2) - 4px);
    }

}
@media screen and (max-width: 1200px){
    html{
        font-size: 14px;
    }
    body main .crearGuifos{
        width: 80%;
        margin: 30px auto ;
    }
    #ctnBtnLastPreview .timer{
        padding: 6px;
        width: 110px;
        font-size: 14px;
        margin-right: 0.5rem;
    }
    #ctnBtnLastPreview .timeSlot{
        height: 20px;
        width: 8px;
    }
    .ctnBtn a, .ctnBtn button, .ctnBtn p {
        margin-left: 1rem;
    }
}
@media screen and (max-width: 900px){
    body main .crearGuifos{
        width: 100%;
        margin: 30px auto ;
    }
    #ctnMisGuifos {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
}
 
@media screen and (max-width: 740px){
    #ctnMisGuifos {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
    }
    #ctnMisGuifos .largeTotal {
      grid-column-end: span 1;
      grid-row-end: span 1;
    }
    #ctnBtnPrincipal{
        padding-right: 0;
        text-align: center;
    }
    #ctnBtnLastPreview{
        display: block;
    }
    #ctnBtnLastPreview .controlCtn{
        padding-top: 0.5rem;
        height: 24px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    #ctnBtnLastPreview .timer{
        padding: 4px;
        margin: 0;
        width: calc(100% - 1rem);
    }
    #ctnBtnLastPreview .timeSlot{
        height: 20px;
        width: 12px;
    }
    .lastPreviewBtnCtn {
        padding-top: 0.5rem;
        margin-left: auto;
        display: block;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 560px){
    #ctnBtnLastPreview {
        width: 100%;
        margin-right: 1rem;
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
    }
    #ctnBtnLastPreview .controlCtn{
        padding-top: 1rem;
    }
    #previewTimer{
        margin: 0;
        width: calc(100% - 1rem);
        margin-left: 1rem;
    }
    .timer{
        padding: 6px;
        width: 110px;
        font-size: 14px;
        margin-right: 0.5rem;
    }
    .timeSlot{
        height: 20px;
        width: 8px;
    }
    #ctnBtnLastPreview .timeSlot{
        height: 20px;
        width: 12px;
    }

    .lastPreviewBtnCtn {
        padding-top: 1rem;
    }
    #btnRepeat{
        margin: 0;
    }
    #contenidoUploading .contenidoPrincipal img{
        margin-top: 4rem;
        margin-bottom: 0.5rem;
    }
    #contenidoUploading .contenidoPrincipal h4{
        margin-bottom: 1.5rem;
    }
    #contenidoUploading .contenidoPrincipal p{
        margin-bottom: 4rem;
    }
}
