@font-face {
    font-family: 'chakraReg';
    src: url("../assets/font/ChakraPetch-Regular.ttf");
}
  
@font-face {
    font-family: 'chakraBold';
    src: url("../assets/font/ChakraPetch-Bold.ttf");
}
  
@keyframes giro{
    from{transform: rotate(0deg);}
    to{transform: rotate(180deg);}
}
.arriba{
    transform: rotate(180deg);
}
.abajo{
    transform: rotate(0deg);
}
.close-caret{
    transform: rotate(0deg);
    transition: all .25s ease-in;
}
.open-caret {
    transform: rotate(180deg);
    transition: all .25s ease-out;
}
.theme-dark{
    --fondo: #110038;
    --fondo-secundario: #B4B4B4;
    --fondo-secundario-claro: #cccccc; 
    --gradiente-primario: #EE3EFE;
    --gradiente-secundario: #2E32FB;
    --color-fuente-oscuro: #110038; 
    --bg-sec-shadow: #110038;
    --darker-shadow: #b4b4b4;
    --light-shadow: #fff;
    --btn-shadow: #b4b4b4;
    --btn-bg-hover: #ce36db;
    --border-second-h: #2E32FB;
    --shadow-second-h: #110038;
    --color-fuente-nav: #fff;
    --fondo-selector-tema: #2e32f2;
    --borde-selector-tema: #33358f;
}
.theme-light{
    --fondo: #fff4fd;
    --fondo-secundario: #e6e6e6;
    --fondo-secundario-claro: #f0f0f0; 
    --gradiente-primario: #f7C9f3;
    --gradiente-secundario: #4180f6;
    --color-fuente-oscuro: #110038; 
    --bg-sec-shadow: #f0e5ee;
    --darker-shadow: #b4b4b4;
    --light-shadow: #fff;
    --btn-shadow: #997d97;
    --btn-bg-hover: #e6bbe2;
    --border-second-h: #e6bbe2;
    --shadow-second-h: #80687d;
    --color-fuente-nav: #110038;
    --fondo-selector-tema: #fff4fd;
    --borde-selector-tema: #cca6c9;
}
  
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    outline: none;
    vertical-align: top;
}
.white{
    filter: invert(100%);
}
.hidden {
    display: none!important;
}
html{
    font-size: 16px;
}
body {
    background: var(--fondo);
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    color: var(--color-fuente-oscuro);
}
body header .topTitle {
    background-image: -webkit-gradient(linear, right top, left top, from(  var(--gradiente-primario)), to(var(--gradiente-secundario)));
    background-image: linear-gradient(270deg,   var(--gradiente-primario) 0%, var(--gradiente-secundario) 100%);
    color: var(--light-shadow);
    letter-spacing: 0;
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0 1px 0 0 var(--color-fuente-oscuro);
            box-shadow: 0 1px 0 0 var(--color-fuente-oscuro);
    padding: 4px 8px;
    font-size: 0.75rem;
    line-height: 1rem;
}
body header h1 {
    text-indent: -100000px;
    height: 0;
}
body header .head {
    margin: 2.5rem  10% 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body header .head #logo {
    margin-left: 16px;
    width: 100px;
}
body main {
    margin: 20px 10%;
}
body main .misGuifos h2{
    background: #fff4fd;
    border: 1px solid var(--border-second-h);
    -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 var(--shadow-second-h);
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 var(--shadow-second-h);
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: var(--color-fuente-oscuro);
    letter-spacing: 0;
    font-weight: normal;
    padding: 8px;
    letter-spacing: 0;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
body main .crearGuifos{
    width: 60%;
    margin: 50px auto ;
    padding: 3px;
    background: var(--fondo-secundario);
    box-shadow: inset -2px -2px 0 0 var(--darker-shadow), inset 2px 2px 0 0 #FFFFFF;
}
body main .crearGuifos .title{
    background-image: linear-gradient(270deg, var(--gradiente-primario) 0%, var(--gradiente-secundario)  100%);
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
body main .crearGuifos .title h2{
    font-family: 'chakraBold';
    font-size: 0.875rem;
    color: #FFFFFF;
    letter-spacing: 0;
}
body main .crearGuifos .title img{
    width: 16px;
    margin: 0;
}
body main .crearGuifos .contenido{ 
    margin: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
#gifContainer{
    width: 100%;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid #979797;
    padding: 2px;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
body main .crearGuifos .contenido video{ 
    margin: 4px;
    width: 100%;
}
#imgGIF{
    margin: 0;
    width: 100%;
}

body main .crearGuifos .contenido #btnCapturar{ 
    margin-left: auto;
}


body main .crearGuifos img{ 
    width: 2rem;
    margin: 1rem;
}
body main .crearGuifos h4{ 
    font-family: 'chakraBold';
    font-size: 1rem;
    color: var(--color-fuente-oscuro);
    letter-spacing: 0;
    line-height: 1.375rem;
    margin:1rem 0 0.75rem 0;

}
body main .crearGuifos p{ 
    font-family: 'chakraReg';
    font-size: 0.875rem;
    color: var(--color-fuente-oscuro);
    letter-spacing: 0;
    line-height: 1.25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
body main .crearGuifos p .bold{ 
    font-family: 'chakraBold';
}
body main .crearGuifos p .tilted{ 
    font-style: italic;
}
body main .crearGuifos p .enter{ 
    display: block;
    padding:4px 0;
}
.tachado{
    text-decoration: line-through;
}
.ctnBtn{
    text-align: right;
    float: right;
}
.btn{
    font-family: 'chakraReg';

    font-size: 1rem;
    padding: 8px 40px;
    background: var(--gradiente-primario);
    border: 1px solid var(--color-fuente-oscuro);
    box-shadow: inset -1px -1px 0 0 var(--btn-shadow), inset 1px 1px 0 0 #FFFFFF;
    color: var(--color-fuente-nav);
    margin-top: 1rem;
}
.btn:hover{
    background: var(--btn-bg-hover);
}
#cancelLink{
    display: inline-block;
    font-size: 1rem;
}
.btnSecundario{
    font-size: 1rem;
    font-family: 'chakraReg';
    padding: 2px;
    background: var(--fondo);
    border: 1px solid var(--color-fuente-oscuro);
    box-shadow: inset -1px -1px 0 0 var(--btn-shadow), inset 1px 1px 0 0 #FFFFFF;
    color: var(--color-fuente-nav);
    margin-top: 1rem;
}
.btnSecundario span{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px 36px;
}
.btnSecundario span:hover{
    border: 1px dotted var(--color-fuente-nav);
    background: var(--bg-sec-shadow);
}
#ctnBtnPrincipal{
    margin-bottom: 1rem;
}
#imgListo, #btnListo{
    background: #FF6161;
    color: #fff;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}
#imgListo img{
    position: relative;
    top: 3px;

}
#imgCapturar {

    padding: 8px;
    text-align: center;
    float: left;
    clear: none;

}
#imgCapturar img{
    position: relative;
    top: 3px;
    width: 15px;
    padding: 0;
    margin: 0;
}
#btnCancelar{
    margin-right: 1rem;
}
#btnCapturar{
    margin-right: 0;
    float: left;
    clear: none;
}
#imgListo{
    padding: 8px;
    text-align: center;
    float: left;
    clear: none;
}
#imgListo img{
    width: 15px;
    padding: 0;
    margin: 0;
}
#btnListo{
    margin-right: 0;
    float: left;
    clear: none;
}
.timer{
    padding: 5px;
    width: 160px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    font-family: "chakraReg", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #110038;
    line-height: 22px;
    float: left;
    letter-spacing: 3px;
}
/*body main .misGuifos div{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main .misGuifos div .ctnTotal {
  position: relative;
  height: 0;
  width: 24%;
  padding-bottom: 24%;
  overflow: hidden;
}
body main .misGuifos div .ctnTotal .ctnImg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
}*/

